// Default Unit's
// =======================================

$base-font-size:    16px;
$base-line-height:  24px;

$base-radius:       3px;
$base-spacing-unit: $base-line-height;


// Primary Color
// =======================================

$white: #fff;
$black: #000;

// Theme Colours
// =======================================

// $color-border-separator:;
// $color-primary:;
// $color-secondary:;
// $color-third:;
// $color-text:;
